{% extends 'base.html' %} 

{% block title %}
    <title>{{ titulo }}</title>
{% endblock title %} 

{% block content %}
    <form method="POST" action="{{ url_for('autenticar') }}">
        <input type="hidden" name="proxima" value="{{ proxima or url_for('index') }}">
        <p><label>Nome de usuário:</label> <input class="form-control" type="text" name="usuario" required></p>
        <p><label>Senha:</label> <input class="form-control" type="password" name="senha" required></p>
        <p><button class="btn btn-primary" type="submit">Entrar</button></p>
    </form>
{% endblock content %}